@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<p>This page is about my projects</p>
<p>My Github <a href="https://github.com/Snapz01">Snapz01</a></p>

<a href="https://github.com/Snapz01/CalculatorV2">Calculator</a>
<p>Calculator project description</p>
<a href="https://github.com/Snapz01/Hangman">Hangman</a>
<p>Hangman project description</p>
