@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<p>This page is about my projects</p>
<p>My Github: <a href="https://github.com/Snapz01">Github Link</a></p>

<a href="https://github.com/Snapz01/CalculatorV2">Calculator</a>
<p>This project is a console-based calculator application in C# that provides a simple menu for performing basic arithmetic operations such as addition, subtraction, multiplication, and division. Users can select an operation, input two numbers, and view the result. The program continues to display the menu until the user chooses to exit.
    Error handling is included to manage invalid inputs and unexpected issues.</p>
<a href="https://github.com/Snapz01/Hangman">Hangman</a>
<p>This project is a console-based Hangman game written in C#. The player selects a genre (currently only "animal" is available), and the program randomly chooses a word from a predefined list. The player then attempts to guess the word by either guessing individual letters or the entire word. The game tracks correct and incorrect guesses, displaying the word with unguessed letters hidden.
    The player has a limited number of attempts to guess the word correctly before losing.</p>
