@using Microsoft.AspNetCore.Server.Kestrel.Core
@{
    ViewBag.Title = "Check Temperature";
    Layout = "_Layout";
    bool isFahrenheit = ViewBag.IsFahrenheit ?? false;
    string temperatureUnit = isFahrenheit ? "Fahrenheit" : "Celsius";
}
<div class="mainBox">
<h2>Check Temperature</h2>
<div class="row">
    <h5 class="column">Celsius</h5>
    <label class="switch column">
        <input type="checkbox" name="isFahrenheit" id="isFahrenheit" @(isFahrenheit ? "checked" : "") onchange="updateTemperatureUnit()">
        <span class="slider round"></span>0
    </label>
    <h5 class="column">Fahrenheit</h5>
</div>

<form asp-action="CheckTemperature" method="post" onsubmit="setHiddenInputValue()">
    <div>
        <label for="temperature">Enter your body temperature <br /> (<span id="temperatureUnit">@temperatureUnit</span>):</label>
        <input type="number" step="0.1" name="temperature" id="temperature" min-length="1" required="requried" />
    </div>
    <div>
        <input type="submit" value="Check" />
    </div>
    <input type="hidden" name="isFahrenheitHidden" id="isFahrenheitHidden" value="@(isFahrenheit ? "true" : "false")" />
</form>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
</div>

<script>
    function updateTemperatureUnit() {
        var isFahrenheit = document.getElementById("isFahrenheit").checked;
        document.getElementById("temperatureUnit").innerText = isFahrenheit ? "Fahrenheit" : "Celsius";
    }

    function setHiddenInputValue() {
        var isFahrenheit = document.getElementById("isFahrenheit").checked;
        document.getElementById("isFahrenheitHidden").value = isFahrenheit;
    }
</script>
