@using Microsoft.AspNetCore.Server.Kestrel.Core
@{
    ViewBag.Title = "Guessing Game";
}
<div class="mainBox">
<h2>Guessing Game</h2>

<p>@ViewBag.Message</p>

<form method="post" asp-controller="GuessingGame" asp-action="GuessingGame">
    <div>
        <label for="guess">Your Guess:</label>
        <input type="number" id="guess" name="guess" required />
    </div>
    <button type="submit">Submit</button>
</form>
</div>