html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1e2227;
    color: white;
}

header {
    background-color: #1e2227;
}

.nav-link {
    color: white;
}

    .nav-link:hover {
        background-color: #2b3139;
    }

.nav-center {
    justify-content: center;
}

.nav-link {
    border: solid 1px #2b3139;
    margin: 20px 0 0 20px;
    border-radius: 15px;
    background-color: #23272e;
}

main {
    background-color: #23272e;
    border: solid 1px #2b3139;
    border-radius: 25px;
    padding: 30px;
    margin: 10px;
}

embed {
    border-radius: 25px;
    padding: 0;
    margin: auto;
    min-height: 92%;
    min-width: 100%;
}

.pb-3 {
    height: 1100px;
    width: 100%;
}

header {
    background-color: #23272e;
    border-radius: 25px;
    margin: 0 60px 0 80px;
}

.date-time-clock {
    color: grey;
    border-radius: 100%;
    padding: 10px;
}

.date-time-clock:hover {
    color: white;
}