html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    background-color: #1e2227;
    color: white;
}

header {
    background-color: #23272e;
    border-radius: 25px;
}

.active-button {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    background: red;
    outline: none;
}

.content-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    margin: 8px 0 0 0;
}

.nav-link {
    color: white;
    border: solid 1px #2b3139;
    margin: 20px 0 0 20px;
    border-radius: 15px;
    background-color: #23272e;
}

.nav-link:focus {
    background-color: #2b3139;
}

.nav-item:focus {
    color: blue;
}

.nav-center {
    justify-content: center;
}

main {
    background-color: #23272e;
    border: solid 1px #2b3139;
    border-radius: 25px;
    padding: 30px;
    margin: 10px;
}

embed {
    border-radius: 25px;
    padding: 0;
    margin: auto;
    min-height: 92%;
    min-width: 100%;
}

.pb-3 {
    height: 1100px;
    width: 100%;
}

.date-time-clock {
    color: grey;
    border-radius: 100%;
    padding: 10px;
}

.date-time-clock:hover {
    color: white;
}

.footer {
    text-align: center;
}

button.btn:active,
a.btn-link.nav-link:active,
input.form-control:active,
input.form-check-input:active,
a.nav-link:active {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #5a78bf;
    background: #2b3139;
    outline: none;
}

.active-button {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #5a78bf;
    background: #2b3139;
    outline: none;
}
