html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1e2227;
    color: white;
}

header {
    background-color: #1e2227;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: green;
}

nav-link:active {
    color: red;
}

.nav-center {
    justify-content: center;
}

.nav-link {
    border: solid 1px black;
    margin: 20px 0 0 20px;
    border-radius: 20%;
}